<!doctype html>
{{ $lang := .Site.Language.Lang | default "en" }}
<html lang="{{ $lang }}" class="h-100">
  {{ partial "head.html" . }}
  <body class="d-flex flex-column h-100">
    {{ partial "nav.html" . }}
    <div class="container">
      <main id="main">
        {{ block "main" . }}{{ end }}
      </main>
    </div>
    {{ partial "footer.html" . }}
    {{ partial "script.html" . }}
    {{ partial "katex.html" . }}
    {{ partial "google-analytics-async.html" . }}
    
    	<!--     Fonts and icons     -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
  <link rel="stylesheet" href="https://cdn.rawgit.com/gaborcsardi/r-font/master/rlogo.css">
  <script defer src="https://use.fontawesome.com/releases/v5.0.0/js/all.js"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.0.0/js/v4-shims.js"></script>
    
  </body>
		
	<!--   Core JS Files   -->
	<script src="{{"js/jquery.min.js" | relURL }}" type="text/javascript"></script>
	<script src="{{"js/bootstrap.min.js" | relURL }}" type="text/javascript"></script>
	<script src="{{"js/material.min.js" | relURL }}"></script>

	<!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
	<script src="{{"js/nouislider.min.js" | relURL }}" type="text/javascript"></script>

	<!--  Plugin for the Datepicker, full documentation here: http://www.eyecon.ro/bootstrap-datepicker/ -->
	<script src="{{"js/bootstrap-datepicker.js" | relURL }}" type="text/javascript"></script>

	<!-- Control Center for Material Kit: activating the ripples, parallax effects, scripts from the example pages etc -->
	<script src="{{"js/material-kit.js" | relURL }}" type="text/javascript"></script>

</html>

